!.vscode/launch.json
.vscode/*
/*.a
/*.AppImage
/*.cbp
/*.db
/*.depend
/*.dll
/*.exe
/*.layout
/*.opendb
/*.tcl
/*.vcxproj.filters
/*.vcxproj.user
/*.zip
/.svn
/.vs
/bin
/Debug*
/sfeMovie*
/Makefile
/obj
/out
/portable
/Release*
/x64
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Testing
